{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}
<div class="article-container" >
    {{- partial "article-header.html" . -}}
    {{- if (.Param "ShowToc") }}{{- partial "toc.html" . }}{{- end }}
    <article class="article markdown-body" {{- if $justify -}}style="text-align: justify;" {{- end -}} >
        {{- with .Params.cover -}}<p><img class="cover" src="{{- . | safeURL -}}" alt></p>{{- end -}}
        <div>{{- .Content -}}</div>
    </article>

    {{- partial "article-labels.html" . -}}
    {{- partial "article-share.html" . -}}
    {{- partial "article-license.html" . -}}
    {{- partial "article-author.html" . -}}
    {{- partial "article-extra.html" . -}}
</div>
<div class="article bottom">
  <div class="article bottom title">更多文章</div>
  {{- partial "article-bottom-navigation.html" . -}}
  {{- partial "article-comments.html" . -}}
</div>
{{- end -}}
