<section id="footer">
    <div class="tongji" style="text-align:center">
        {{$scratch := newScratch}}
        {{ range (where .Site.Pages "Kind" "page" )}}
            {{$scratch.Add "total" .WordCount}}
        {{ end }}
        <span>共 {{ len (where .Site.RegularPages "Section" "posts") }} 篇文章 • 总计 {{$scratch.Get "total" }} 字</span>
        
    </div>

    {{- $copyright := site.Copyright -}}
    {{- if not $copyright -}}
        {{- $copyright = site.Title | safeHTML -}}
    {{- end -}}
    {{- partial "copyright.html" ($copyright | safeHTML) -}}
</section>
{{- partial "math.html" . -}}
{{- partial "syntax.html" . -}}
<!-- {{- template "_internal/google_analytics_async.html" . -}} -->
{{- partial "custom-js.html" . -}}