<section id="header">
    <div class="header wrap"><span class="header left-side"><a class="site home" href="{{- `/` | relLangURL -}}">
                {{/* {{- $logo := site.Params.logo -}} */}}

                {{/* {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt />
                {{- end -}} */}}

        <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header right-side">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span>
    </div>
    {{/* 动态打字特效——代码网址： https://github.com/mattboldt/typed.js/ 自定义：http://mattboldt.github.io/typed.js/  */}}
    <div class="site slogan"><span id="typed"></span></div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed('#typed', {
            strings: [
                'Minecraft',
                'Basketball',
                'Code and code',
                'Grand Theft Auto V',
                'Photography',
                'Back to campus',
                '',
                '<strong>Python<strong>',
                '<strong>C++<strong>',
                '<strong><i>Swift<i><strong>',
                'Java',
                '<strong>Machine Learning<strong>',
                'don\'t like <strong>algorithm<strong>',
                '',
                '一个不会编程的研究僧',
                ],
            typeSpeed: 60,
            backSpeed: 60,
            backDelay : 1250,
            smartBackspace : true ,
            loop: true,
        });
    </script>
</section>