{{- if .Content -}}
<article class="article markdown-body">
    {{- .Content -}}
</article>
{{- end -}}

{{- $avatar := site.Params.avatar -}}
{{- if $avatar}}
<div class="article-header" style="padding-top:50px;padding-bottom:50px;">
    <div class="avatar">
        <a href="/posts/"> <img src="{{- $avatar | relURL -}}"> </a>
    </div>
    {{/* <div class="intro"># print("Hello world!") </div>
    <div class="intro"># 脑子不够键盘来凑 </div> */}}
    <div class="intro">
        {{- with site.Params.intro.intro_1 -}}<p>{{- . | markdownify -}}</p>{{- end -}}
        <!-- {{- with site.Params.intro.intro_2 -}}<p>{{- . | markdownify -}}</p>{{- end -}}
        {{- with site.Params.intro.intro_3 -}}<p>{{- . | markdownify -}}</p>{{- end -}} -->
        <!-- <div id="main" style="width:600px;height:300px;"></div> -->
    </div>
    <div class="social-links">
        {{ partial "social.html" . }}
    </div>

    <!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5rz1gtykhlf&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script> -->

</div>
{{- end -}}