{{- if .Content -}}
<article class="article markdown-body">
    {{- .Content -}}
</article>
{{- end -}}

{{- $avatar := site.Params.avatar -}}
{{- if $avatar}}
<div class="article-header" style="padding-top:50px;padding-bottom:50px;">
    <div class="avatar">
        <a href="/posts/"> <img src="{{- $avatar | relURL -}}"> </a>
    </div>
    <div class="intro"># 不会编程却重返校园的计算机小白 </div>
    <div class="intro"># 脑子不够键盘来凑 </div>
    <div class="social-links">
        {{ partial "social.html" . }}
    </div>
</div>
{{- end -}}