{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.showArchives $nav.custom $nav.showPosts -}}
<div class="nav wrap">
    <nav class="nav">

        {{- if $nav.showPosts -}}
        <a class="nav item" href="{{- `/posts/` | relLangURL -}}"> 文章 </a>
        {{- end -}}

        {{- if $nav.showArchives -}}
        <a class="nav item" href="{{- `/archives/` | relLangURL -}}"> 归档 </a>
        {{- end -}}

        {{- if $nav.showCategories -}}
        <a class="nav item" href="{{- `/categories/` | relLangURL -}}"> 分类 </a>
        {{- end -}}

        {{- if $nav.showTags -}}
        <a class="nav item" href="{{- `/tags/` | relLangURL -}}"> 标签 </a>
        {{- end -}}

        {{- if $nav.showSearch -}}
        <a class="nav item" href="{{- `/search/` | relLangURL -}}"> 搜索 </a>
        {{- end -}}

        {{/* 自定义外部导航 */}}
        {{- range $nav.custom -}}
        {{- $url := replace .url "#" "%23" -}}
        {{- $url = replace $url "." "%2e" -}}
        {{- $url = $url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a class="nav item" href="{{- $url -}}" {{- if strings.HasPrefix $url "http" -}}target="_blank"
            rel="noopener noreferrer" {{- end -}}>{{- .title -}}</a>
        {{- end -}}
        
        {{/*  <a href="javascript:void(0);" class="nav item"><i class="iconfont icon-sun"></i></a>&nbsp;  */}}

    </nav>
</div>
{{- end -}}